body{
    background-color: slategrey ;
}
#main {
    position: relative;
    background-color: slategrey;
    height: 1500px;
    margin: auto ;
}
/***********************************SLIDER*****************************************************/
#slider {
    border: 8px solid black;
    padding: 100px;
    margin: auto;
    text-align: center;
}

/***********************************LOGIN*****************************************************/
#login {
    float: right;
    background-color: #6c8caa;
    padding: 20px;
    border-radius: 25px;
}

.login{
    color: red;

}




/***********************************ACCUEIL*****************************************************/
.menu-principal {
    display: inline-block;
    width: 48%;
    text-align: center;
    background-color: #6c8caa;
    text-shadow: 0px -1px white;
    font-size: 45px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}
.menu-principal:hover {
    color: white;
    background: #6a71aa;
    cursor: pointer;
}
/***********************************CATALOGUE*************************************************/
#catalogue{
    margin-bottom: 150px;
}

#catalogue > ul > li{
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
}

.games > img{
    width: 350px;
    height: 440px;
    position: relative;
    display: inline-block;
    border: solid red;
    border-radius: 25px;
}


/***********************************Menu gauche*************************************************/
#menu_gauche{
    float:left;
    height: 800px;
    width: 200px;
    margin: -25px;
    margin-right: 50px;
    margin-top: 0px;
    background:blue;
    border-radius: 25px;
}
#menu_gauche > ul > li{
     list-style-type: none;
    background-color: aqua;
    border-radius: 25px;
    margin-left: -15px;
    margin-right: 5px;
    margin-bottom: 25px;
    text-align: center;

}

#menu_gauche > ul > li > a{
    font-size: 25px ;
    color: beige ;
    font-family: "Microsoft PhagsPa";
    text-decoration: none;

}
/***********************************FOOTER*************************************************/
#footer {
    display: inline-block;
    margin-top: 200px;
    text-align: center;
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width:300px;
    margin-left:-150px;
    left: 50%;
}

/*Taille des logo réseaux sociaux*/
#footer > a > img {
    width: 45px;
    display: inline-block

}
#footer > a {
    display: inline-block
}
/**********************CREER ACCOUNT**************************/
/* CLASSE ERROR/INVALIDE */
.invalide {
    background-color: indianred;
}
/* CLASSE VALID */
.msg_validation {
    font-weight: bolder;
}
/*DIV avec formualire creer account*/
.creer_compte_form{
    width: 500px;
    border: 2px solid black;
}

/*FORM*/
input[type="text"] {
    display: inline-block;
    text-align: center;
    margin: auto;
}
/*SEND button*/
input[type="submit"] {
    width: 100px;
    padding: 5px;
    color: #34495E;
    font-weight: bold;
}
input[type="submit"]:hover {
    color: #FFF;
    background: #34495E;
    cursor: pointer;
}

/*RESET button*/
input[type="reset"] {
    width: 100px;
    padding: 5px;
    color: #34495E;
    font-weight: bold;
}

input[type="reset"]:hover {
    color: #FFF;
    background: #34495E;
    cursor: pointer;
}
