body{
    background-color: slategrey ;
}
#main {
    position: relative;
    background-color: slategrey;
    height:1080px;
    margin: auto ;
}
/***********************************CATALOGUE*************************************************/
#catalogue{
    margin-bottom: 150px;
}

#catalogue > ul > li{
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
}

.games > img{
    width: 350px;
    height: 440px;
    position: relative;
    display: inline-block;
    border: solid red;
    border-radius: 25px;
}


/***********************************Menu gauche*************************************************/
#menu_gauche{
    float:left;
    height: 800px;
    width: 200px;
    margin: -25px;
    margin-right: 50px;
    margin-top: 50px;
    background:blue;
    border-radius: 25px;
}
#menu_gauche > ul > li{
     list-style-type: none;
    background-color: aqua;
    border-radius: 25px;
    margin-left: -15px;
    margin-right: 5px;
    margin-bottom: 25px;
    text-align: center;

}

#menu_gauche > ul > li > a{
    font-size: 25px ;
    color: beige ;
    font-family: "Microsoft PhagsPa";
    text-decoration: none;

}





/***********************************FOOTER*************************************************/
#footer {
    display: inline-block;
    margin-top: 200px;
    text-align: center;
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width:300px;
    margin-left:-150px;
    left: 50%;
}

/*Taille des logo réseaux sociaux*/
#footer > a > img {
    width: 45px;
    display: inline-block

}

#footer > a {
    display: inline-block
}
